* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  color: #6a6f8c;
  background: url("../imagenes/fondo_flores.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  min-width: 100vw;
}

/*HEADER*/

 /*HEADER*/

 .logo{
  width: 4em;
}

.navbar, .footer {
  background-color: #947474;
}

.nav-item a {
  font-size: 20px;
  color: white;
}
.nav-item a:hover {
  color:  #3e0a0b;

}

.navbar-brand h2, footer h2 {
  color: #550d0e;
  font-size: 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 30px #913785, 0 0 30px #913785,
    0 0 80px #913785, 0 0 100px #913785;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

h2:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #6fa78a, 0 0 70px #6fa78a,
    0 0 80px #6fa78a, 0 0 100px #6fa78a;
}

li .btn  {
  font-weight: 700;
  background: #4c606d;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}

li:hover .btn {
  background-color: #a8c9b1;
  transform: scale(1.1);
  color: #3e0a0b;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background: #9a8e8e;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  border-radius: 5px;
  list-style: none;
  border: none;
  width: 240px;
  padding: 10px 0;

}

.dropdown-menu a{
  color: black;
  text-align: center;
}

.dropdown-menu a:hover{
  background: #83b099;
  transform: scale(1.2);
  padding-left: 20px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


  /* TABLA */
  .contenedor-tabla {
    background-color: #b8a5ab;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

img{
  width: 5.625rem;
}

.tabla {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    color: #6a6f8c;
    font-family: "Open Sans", sans-serif;
}

.tabla caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.tabla tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;

}

.tabla th, .tabla td {
    font-size: 1.125rem;
    padding: 8px;
    text-align: center;
}

.tabla thead th{
    text-transform: uppercase;
    background-color: #ddd;
}

.tabla tbody tr:hover {
    background-color: rgb(166, 198, 181);
}


.editar{
  color: blue;
}

.borrar{
  color: red;
}


  @media (max-width:900px){

    /* TABLA */

    .tabla {
        border: 0px;
        margin: auto;

    }
    .tabla caption {
        font-size: 22px;
    }
    .tabla thead {
        display: none;

    }
    .tabla tr {
        margin-bottom: 8px;
        border-bottom: 4px solid rgb(221, 221, 221);
        display: block;
    }
    .tabla th, .tabla td {
        font-size: 18px;
    }
    .tabla td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .tabla  td:last-child {
        border-bottom: 0px;
    }
    .tabla td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}

/* CONTENIDO */
#buscador,h3 {
  text-align: center;
  padding: 0.5rem;
  align-content: center;
}

#buscador{
  padding: 30px;
}

#buscador input {
  border: none;
  padding: 8px 20px;
  background: #FFFFFF;
  border: 1px solid #DFD7CC;
  border-radius: 10px;
  text-align: center;
  font-size: 18px

}

#buscador button, .tabla button {
  background: #91BFBA;
  border-radius: 20px;
  border: none;
  width: 7.5rem;
  height: 2.25rem;
  margin: 0.1875rem;
  color:#550D0E;
  font-size: 16px;
}

 #buscador button:hover, .tabla button:hover {
  background-color: #e0b6be;
}

#seccion{
  color: #4c606d;
  width: 100%;
  height: 2.8125rem;
  background-color: #FFF7EC;
  flex: none;

}

#seccion h3 {
  font-size: 1.5rem;
  padding: 0.5rem;

}

#resumen{
  width: 11.5625rem;
  height: 8.625rem;
  background-color: #91BFBA;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-left: 50px;
}
#resumen p{
  margin: auto;
}
#resumen a{
  text-decoration: none;
  color: black;
}

/* PUNTUACION */

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 40px;
}

input[type="radio"] {
  display: none;
}

label {
  color: rgb(159, 153, 153);
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: #550D0E;
}

input[type="radio"]:checked ~ label {
  color:#550D0E;
}



/*Aquí debajo va el FOOTER*/

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
  color: white;
  background-color: #947474;
  font-size: 20px;
}

.footer-content-container img {
  height: 70px;
  align-self: center;
}

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 3rem 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
}

.footer-info,
.menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.menu-item-footer:hover {
  opacity: 1;
}

.menu-title {
  font-size: var(--medium-text-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social-container a {
  height: 100%;
  width: 30px;
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
}

.social-container a:hover {
  opacity: 0.7;
}

/*MEDIA QUERY*/
@media (max-width: 800px) {
  .footer-container {
    padding: 2rem;
    flex-direction: column;
  }

  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }

  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }
}


@media (max-width: 600px) {
/* reglas CSS para dispositivos pequeños */
.group {
  flex-direction: column;
}
label {
  font-size: 0.9em;
}
.input {
  width: 100%;
}
}
