* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  color: #6a6f8c;
  background: url("/imagenes/fondo_flores.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 20px;
  position: relative;
}

/*HEADER*/

header {
  background-color: #947474;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 0.5em 2rem;
  font-size: 20px;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 1rem;
  position: relative;
}

h1 {
  color: #550d0e;
  font-size: 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #913785, 0 0 70px #913785,
    0 0 80px #913785, 0 0 100px #913785;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

h1:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #6fa78a, 0 0 70px #6fa78a,
    0 0 80px #6fa78a, 0 0 100px #6fa78a;
}

.logo img {
  width: 4.75rem;
  transition: all 0.3s;
}

header .logo img:hover {
  transform: scale(1.2);
}

a,
li {
  color: #eceff1;
}

.nav-menu a:hover {
  color: #3e0a0b;
}

li .btn {
  font-weight: 700;
  padding: 0.25rem 0.75rem;
  background: #4c606d;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.menu-icon img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 2px;
}

/* SUBMENU */


nav ul li ul {
  width: 240px;
  display: flex;
  flex-direction: column;
  background: #dcd8d8;
  position: absolute;
  top: 90px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  z-index: 10;
  transition: all 300ms ease;
  border: none;
  border-radius: 5px;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 44px;
}

nav ul li ul:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a{
  display: block;
  color: #2a2a2a;
  padding: 6px;
  margin-top: 10px;
  padding-left: 14px;
  transition: all 300ms ease;
}

nav ul li ul li a:hover{
  background: #83b099;
  transform: scale(1.2);
  padding-left: 20px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*ELEMENTOS RESPONSIVOS*/

.icon__menu{
  font-size: 26px;
  color: white;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center;
  margin-left: 12rem;
}

#label__check{
  width: 26px;
  height: 100%;
  display: none;
}

#check__menu{
  display: none;
}

  @media  screen and (max-width: 990px) {

    #label__check{
      display: block;
  }

  .icon__menu{
      display: flex;
  }

    .submenu {
      width: 200px;
      top: 60px;
      font-size: 18px;
    }
    .nav-menu li:hover {
      background-color: #b6e0ba96;
    }

    nav > ul {
      flex-direction: column;
      position: fixed;
      top: 80px;
      left: 0;
      background: #b8a5ab;
      width: 100%;
      height: 90vh;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
    }

    nav ul li ul{
      right:  80px;
      margin-top: 50px;
    }

    .nav-menu ul li {
      padding: 2rem;
      display: flex;
      justify-content: center;
      margin: 0;
    }
    .nav-menu ul li:last-child {
      background: none;
    }

  #check__menu:checked ~ nav > ul{
    visibility: visible;
    opacity: 1;
}
    .logo {
      margin-right: 0;
    }
  }


/* CONTENIDO */


#buscador,
h3 {
  text-align: center;
  padding: 10px;
  align-content: center;
}
#buscador input,
button {
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.521);
  align-items: center;
}

button {
  background: #91bfba;
  border-radius: 20px;
  border: none;
  width: 7.5rem;
  height: 2.25rem;
  font-size: 14px;
}

#buscador button:hover {
  background-color: #e0b6be;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: rgb(238, 231, 231);
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #502020;
  background-color: #b1ceb5;
}

#central {
  background-color: #b8a5ab;
  width: 41%;
  height: 60%;
  max-height: 800px;
  border-radius: 0.625rem;
  margin-top: 0.3125rem;
  margin-bottom: 1.25rem;
  overflow-y: scroll;
  margin:15px auto;
  margin-right: 27%;
}

#interior {
  background-color: #d9d9d9;
  width: 90%;
  font-size: 15px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 1.25rem;
}

#interior .titulo img {
  width: 20%;
  margin-top: 5px;
  margin-right: 5px;
}
#interior .titulo {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#interior .titulo span img{
  width: 50%;
  height: 30%;
  vertical-align: -11px;
}

#interior .libro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#interior .libro img {
  width:28%;
  margin-left: auto;
  border-radius: 3px;
  margin-right: 10px;
}

#interior .titulo span {
  font-size: 18px;
}

.descripcion {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  padding: 0px 9px 0 20px;
  }
#izquierda {
  position: absolute;
  width: 20%;
  left: 80px;
  top: 125px;
  background: #91bfba;
  border-radius: 6px;
  z-index: 1;
}
#izquierda img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 40%;
  margin-bottom: 10px;
}

.progress-bar {
  width: 80%;
  justify-content: center;
  background-color: #ddd;
  border-radius: 5px;
  margin-left: 30px;
  overflow: hidden;

}

.progress-value {
  height: 100%;
  background-color: #884559;
  color: white;
  text-align: center;
  line-height: 20px;
  position: relative;
}

#izquierda .button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: whitesmoke;
  color: #550D0E;
  border-radius: 20px;
  font-size: 1em;
  line-height: 5px;
}

#calendar-container {
  position: absolute;
  width: 20%;
  height: 23%;
  left: 80px;
  top: 500px;
  background-color: #ddd;
  border-radius: 25px;
  margin-top: 40px;
  display: flex;
  justify-content: center;

}

#calendar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #550D0E;
  margin-top: -7px;
}

#derecha{
  position: absolute;
  height: 80%;
  left: 78%;
  top: 15%;
  z-index: 1;
}

#derecha img{
  border-radius: 10px;
}

.enlaces {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.enlaces a {
  display: inline-block;
  width: 45%;
  text-align: center;
  text-decoration: none;
  color:  #550D0E;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}


::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  #central {
    width: 44%;
    margin-right: 25%;
  }
  #interior {
    width: 90%;
    font-size: 15px;
  }
  #interior .libro img {
    width:28%;
  }
  #izquierda {
    width: 23%;
    height: 23%;
    left: 25px;
  }
  .progress-bar {
    width: 80%;
  }
  #calendar-container {
    height:18%;
    left: 50px;
  }
  #calendar-container p{
    font-size: 14px;
  }

  #derecha img {
    width: 25%;
    left: 75%;
  }
}

@media (max-width: 768px) {
  #central {
    width: 55%;
    margin-right: 5%;
  }
  #interior {
    width: 90%;
    font-size: 13px;
  }
  #interior .libro img {
    width:30%;
  }
  #izquierda {
    width: 27%;
    height: 18%;
    left: 6%;
    top: 10%;
    font-size: 18px;
  }

  .descripcion img{
    width: 33%;
  }
  .progress-bar {
    width: 75%;
  }
  #calendar-container {
    height: 17%;
    width: 33%;
    left: 26px;
    top: 27%;
  }
  #calendar-title{
    font-size: 18px;
    margin-top: -8px;
  }

  #calendar-container img{
    width: 100%;
}

  #derecha {
    top: 48%;
    left: 8%;
  }
  #derecha img{
    width: 40%;
    height: 16%;
  }
}

@media only screen and (max-width: 600px) {
  /* agrega aquí tus estilos para dispositivos móviles */
  #central {
    width: 60%;
    height: auto;
  }
  #interior {
    width: 90%;
    font-size: 12px;
  }
  #interior .libro img {
    width: 40%;
    margin-left: auto;
    margin-right: 10px;
  }
  #izquierda {
    width: 30%;
    left: 3%;
    top: 10%;
  }
  #izquierda img {
    width: 40%;
  }
  .progress-bar {
    width: 60%;
    margin-left: 5%;
  }
  #calendar-container {
    width: 30%;
    height: auto;
    left: 3%;
    top: 30%;
  }

  #derecha img{
    top:30%;
    height: 15%;
    margin-left: 5px;
  }

  .descripcion, #interior .titulo span{
    font-size: 16px;
    margin-bottom: 10px;
  }
}


/*Aquí debajo va el FOOTER*/

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
  color: white;
  background-color: #947474;
}

.footer-content-container img {
  height: 70px;
  align-self: center;
}

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 3rem 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
}

.footer-info,
.menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.menu-item-footer:hover {
  opacity: 1;
}

.menu-title {
  font-size: var(--medium-text-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social-container a {
  height: 100%;
  width: 30px;
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
}

.social-container a:hover {
  opacity: 0.7;
}

/*MEDIA QUERY*/
@media (max-width: 768px) {
  .footer-container {
    padding: 2rem;
    flex-direction: column;
  }

  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }

  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }
}
