* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  color: #6a6f8c;
  background: url("/imagenes/fondo_flores.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 20px;
  position: relative;
}

/*HEADER*/

header {
  background-color: #947474;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 0.5em 2rem;
  font-size: 20px;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 1rem;
  position: relative;
}

header h1 {
  color: #550d0e;
  font-size: 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #913785, 0 0 70px #913785,
    0 0 80px #913785, 0 0 100px #913785;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

h1:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #6fa78a, 0 0 70px #6fa78a,
    0 0 80px #6fa78a, 0 0 100px #6fa78a;
}

.logo img {
  height: 3.75rem;
  transition: all 0.3s;
}

header .logo img:hover {
  transform: scale(1.2);
}

header a,
li {
  color: #eceff1;
}

.nav-menu li:hover {
  background-color: #e0b6be96;
}

header li .btn {
  font-weight: 700;
  padding: 0.25rem 0.75rem;
  background: #4c606d;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

li:hover .btn {
  background-color: #a8c9b1;
  transform: scale(1.1);
}
.menu-icon img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 2px;
}

/* SUBMENU */

.submenu {
  width: 13.75rem;
  flex-direction: column;
  background-color: #c7d6cb;
  position: absolute;
  border-radius: 10px;
  display: none;
  text-align: center;
  border: none;
}

nav ul li:hover ul {
  display: block;
  top: 30px;
}

.submenu li a {
  color: #2a2a2a;
  padding: 6px;
  margin-top: 10px;
}
.menu li:hover .submenu {
  color: white;
  display: block;
}

.menu-icon,
#check {
  display: none;
}

@media (max-width: 960px) {
  .checkbtn {
    display: block;
  }
  .menu-icon {
    display: block;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .nav-menu li:hover {
    background-color: #b6e0ba96;
  }
  .nav-menu ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    background: #b8a5ab;
    width: 100%;
    height: 100vh;
    right: 0;
  }

  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .nav-menu ul li:last-child {
    background: none;
    padding: 1rem;
  }
  #check:checked ~ ul {
    left: 0;
    transition: all 0.25s;
  }
  .logo {
    margin-right: 0;
  }
}

/* CONTENIDO */


#buscador,
h3 {
  text-align: center;
  padding: 10px;
  align-content: center;
}
#buscador input,
button {
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.521);
  align-items: center;
}

button {
  background: #91bfba;
  border-radius: 20px;
  border: none;
  width: 7.5rem;
  height: 2.25rem;
  font-size: 14px;
}

#buscador button:hover {
  background-color: #e0b6be;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: rgb(238, 231, 231);
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #502020;
  background-color: #b1ceb5;
}

#central {
  background-color: #b8a5ab;
  width: 36%;
  height: 70%;
  border-radius: 0.625rem;
  margin: auto;
  margin-top: 0.3125rem;
  margin-bottom: 1.25rem;
  overflow-y: scroll;
}

#interior {
  background-color: #d9d9d9;
  width: 90%;
  font-size: 15px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 1.25rem;
}

#interior .titulo img {
  width: 20%;
  margin-top: 5px;
  margin-right: 5px;
}
#interior .titulo {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#interior .titulo span img{
  width: 50%;
  height: 30%;
  vertical-align: -11px;
}


#interior .libro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#interior .libro img {
  width:28%;
  margin-left: auto;
  border-radius: 3px;
  margin-right: 10px;
}

#interior .titulo span {
  font-size: 18px;
}

.descripcion {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  padding: 0px 9px 0 20px;
  }
#izquierda {
  position: absolute;
  width: 20%;
  left: 80px;
  top: 125px;
  background: #91bfba;
  border-radius: 6px;
}
#izquierda img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 40%;
  margin-bottom: 10px;
}

.progress-bar {
  width: 80%;
  justify-content: center;
  background-color: #ddd;
  border-radius: 5px;
  margin-left: 30px;
  overflow: hidden;

}

.progress-value {
  height: 100%;
  background-color: #884559;
  color: white;
  text-align: center;
  line-height: 20px;
  position: relative;
}

#izquierda .button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: whitesmoke;
  color: #550D0E;
  border-radius: 20px;
  font-size: 1em;
  line-height: 5px;
}

#calendar-container {
  position: absolute;
  width: 20%;
  height: 23%;
  left: 80px;
  top: 500px;
  background-color: #ddd;
  border-radius: 25px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#calendar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #550D0E;
}

#derecha{
  position: absolute;
  height: 80%;
  width: 60%;
  left: 78%;
  top: 15%;
}

.enlaces {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.enlaces a {
  display: inline-block;
  width: 45%;
  text-align: center;
  text-decoration: none;
  color:  #550D0E;
  font-size: 16px;
  font-weight: bold;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  #central {
    width: 44%;
  }
  #interior {
    width: 90%;
    font-size: 15px;
  }
  #interior .libro img {
    width:28%;
  }
  #izquierda {
    width: 23%;
    height: 23%;
    left: 25px;
  }
  .progress-bar {
    width: 80%;
  }
  #calendar-container {
    height:18%;
    left: 50px;
  }
  #calendar-container p{
    font-size: 14px;
  }

  #derecha img {
    width: 30%;
    left: 75%;
  }
}

@media (max-width: 768px) {
  #central {
    width: 50%;
    margin-right: 13%;
  }
  #interior {
    width: 85%;
    font-size: 13px;
  }
  #interior .libro img {
    width:30%;
  }
  #izquierda {
    width: 27%;
    height: 20%;
    left: 6%;
    top: 10%;
  }
  .descripcion{
    font-size: 16px;
  }
  .descripcion img{
    width: 33%;
  }
  .progress-bar {
    width: 75%;
  }
  #calendar-container {
    height:14%;
    left: 72px;
    top: 28%;
  }
  #calendar-container p{
    font-size: 12px;
  }
  #derecha {
    top: 47%;
    left: 9%;
  }
}




/*Aquí debajo va el FOOTER*/

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
  color: white;
  background-color: #947474;
}

.footer-content-container img {
  height: 70px;
  align-self: center;
}

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 3rem 4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
}

.footer-info,
.menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.menu-item-footer:hover {
  opacity: 1;
}

.menu-title {
  font-size: var(--medium-text-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social-container a {
  height: 100%;
  width: 30px;
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
}

.social-container a:hover {
  opacity: 0.7;
}

/*MEDIA QUERY*/
@media (max-width: 768px) {
  .footer-container {
    padding: 2rem;
    flex-direction: column;
  }

  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }

  .footer-content-container:nth-of-type(1) {
    align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }
}
