body {
	color: #6a6f8c;
	background: #c8c8c8;
	background: url("../imagenes/fondo_flores.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font: 600 16px/18px 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }

  .video-container {
	margin-top: 20px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
  }

  video {
	width: 498px;
	height: 280px;
	background-color: whitesmoke;
	background-size: cover;
	margin-bottom: 35px;
	margin-left: 40px;
  }

h1{
	font-weight: 400;
	font-size: 3.75rem;
	color: #550d0e;
	font-style: normal;
	text-align:center;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.container {
	display: flex;
	margin-left: 15%;
	width: 100%;
	margin-top: 3.125rem;
	margin-bottom: 3.125rem;
	max-width: 500px;
	min-height: 620px;
	position: relative;
	background: url("../imagenes/libro.jpg") no-repeat center;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  }

  .login-html {
	width: 100%;
	height: 103%;
	position: absolute;
	padding: 0 70px 50px 70px;
	background: rgba(211, 210, 211, 0.9);
	border-radius: 10px;
  }

.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:12px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:rgb(110, 108, 108);
	border-color:#36533b ;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}

.login-form .group .label{
	color:rgb(121, 119, 119);
	font-size:16px;
}
.login-form .group .button, #btn-contacto{
	background: linear-gradient(117.49deg, #36533b -81.04%, #6ebdb4 135.17%);
	box-shadow: 8px 8px 60px rgba(60, 73, 92, 0.2);
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#36533b;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:46px 0 38px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.sign-up-htm .foot-lnk{
	margin-bottom: 5px;
}

#login2 button {
	background: #d8dbdd;
	box-shadow: 5px 7px 70px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	font-size: 110%;
	color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	color: rgba(0, 0, 0, 0.5);
	position: relative;
}

#login2 button:hover{
	background-color: #e0b6be;

}

#btn-contacto {
	font-weight: bold;
	background-color: #4c606d;
	color: white;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	border: none;
  }

  #dialogo-contacto {
	background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    top: 26%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  #cerrar-dialogo {
	background-color: #4c606d;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	margin-top: 20px;
  }

  .foot-lnk a {
	margin-right: 10px;
  }

  .foot-lnk button {
	margin-left: 10px;
  }



/* MEDIAS QUERIES  */

 @media (max-width:1217px){
	video{
		display: none;
	}
	.container{
    top: 44%;
    left: 36%;
    transform: translate(-50%, -50%);
	}
}

@media (max-width: 768px) and (max-width: 1024px) {
	.container {
	  flex-direction: column;
	  align-items: center;
	}
	h1 {
	  font-size: 2.75rem;
	}
	.login-html .tab {
	  font-size: 18px;
	}
	.login-form .group .label {
	  font-size: 14px;
	}

	video{
		display: none;
	}
  }


  @media (max-width: 550px) {
	.container {
	  flex-direction: column;
	  align-items: center;
	}
	h1 {
	  font-size: 2.5rem;
	}
	.login-html .tab {
	  font-size: 16px;
	}
	.login-form .group .label {
	  font-size: 12px;
	}
  }

  @media (max-width: 425px) {
	.container {
	  height: auto;
	  flex-direction: column;
	  align-items: center;
	}
	h1 {
	  font-size: 2.25rem;
	}
	.login-html .tab {
	  font-size: 14px;
	}
	.login-form .group .label {
	  font-size: 10px;
	}
	video{
		display: none;
	}
  }

  @media (max-width: 320px) {
	.container {
	  height: auto;
	  flex-direction: column;
	  align-items: center;
	}
	h1 {
	  font-size: 1rem;
	}
	.login-html .tab {
	  font-size: 12px;
	}
	.login-form .group .label {
	  font-size: 8px;
	}
	video{
		display: none;
	}
  }
